#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-toolbar {
  --background: #ffffff;
  --color: #333333;
  height: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-id {
  font-size: 14px;
  color: #666666;
}

.bi-list {
  font-size: 30px;
  font-weight: bold;
  color: #1574bb;
}

.custom-img-toolbar {
  .img-toolbar {
    height: 250px;
    width: 100%;
    background-image: url('../../assets/images/5.png');
    background-size: cover;
    background-position: center;

    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(21, 116, 187, 0.5), rgba(100, 47, 146, 0.9));
      z-index: 1;
    }

    .title {
      background-color: #ffffff;
      color: #333333;
      margin: 1rem;
      position: relative;
      z-index: 2;
    }
  }
}

.btn-primary-img {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: .5rem;
  width: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(21, 116, 187, 0.6), rgba(100, 47, 146, 0.6));
    z-index: 1;
  }

  span {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2)
  }
  
}

.soccer {
  background-image: url('../../assets/images/1.png');
}

.basket {
  background-image: url('../../assets/images/2.png');
  background-position: center 60%;
}

.volley {
  background-image: url('../../assets/images/3.png');
}

.futsal {
  background-image: url('../../assets/images/4.png');
  background-position: center 55%;
}